<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Paycheck</title>
<link rel="stylesheet" href="/libs/bootstrap.min.css">
<link rel="stylesheet" href="/libs/fontawesome.min.css">
<script src="/libs/jquery.min.js"></script>
<script src="/libs/bootstrap.min.js"></script>
