<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button"
              class="navbar-toggle collapsed" data-toggle="collapse" data-target="#paycheck-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="/login">Paycheck</a>
    </div>
    <div class="collapse navbar-collapse" id="pacheck-navbar">
      <ul class="nav navbar-nav navbar-right" ng-if="!vm.isAuthenticated()">
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Signup</a></li>
      </ul>
    </div>
  </div>
</nav>
